<!DOCTYPE html>
<html>
  <head>
    <title>Robingoods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      window.homeImage="<%= image_url("Home_image.png")%>"
      window.robinhood="<%= image_url("Robingoods.jpg")%>"
      window.loginImage="<%= image_url("Login_image.png")%>"
      window.firePlace="<%= image_url("fireplace.png")%>"
      window.logo="<%= image_url("Rg-pic.png") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
